* {
	margin: 0;
	
}
/* EMPIEZA LA SECCIÓN DE LA PORTADA*/

.portada {
	width: 100%;
	height: 100vh;
	background-image: url('../imagenes/balon.jpg');
	background-size: cover;
	background-position: center;
	display: flex;
    align-items: center;
    background-repeat: no-repeat;	
}

.container-portada {
	width: 100%;
	height: 80%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
   }

.text-peruanos {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 110px;
	font-family: sans-serif;
	font-weight: bold;
	color: red;
	position: absolute;
}

/* EMPIEZA LA SECCIÓN INSPIRADORA  */ 

.inspira {
	width: 100%;
	height: 100vh;
	background: black;
}

.container-inspira {
	width: 70%;
	height: 90%;
	margin: auto;
	display: flex;
	align-items: center;
}

.text-inspira {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	font-family: sans-serif;
	font-weight: bold;
	color: white;
}

/* EMPIEZA LA SECCIÓN DE LAS FOTOS DEL RODAJE */

.rodaje-fotos {
	width: 100%;
	height: 100vh;
}

.container-rodaje-fotos {
	width: 100%;
	height: 100%;
	display: flex;
}

.foto-rodaje {
	width: 34%;
	height: auto;
}

.pic-1 {
	background-image: url('../imagenes/reu17.jpg');
	background-size: cover;
	background-position: center;
}

.pic-2 {
	background-image: url('../imagenes/reu13.jpg');
	background-size: cover;
	background-position: center;
}

.pic-3 {
	background-image: url('../imagenes/reu16.jpg');
	background-size: cover;
	background-position: center;
}

/* EMPIEZA LA SECCIÓN DE QUIÉNES SOMOS */

.quienes-somos {
	width: 100%;
	height: 50vh;
	background: purple;
}

.container-quienes-somos {
	display: flex;
}

.logo-cont {
	width: 50%;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-logo {
	width: 200px;
	height: 200px;

}

.container-text-quienes-somos {
	width: 50%;
	height: 50vh;
	background: yellow;
	display: flex;
	align-items: center;
	text-align: center;
	color: white;
}

/* EMPIEZA LA SECCIÓN DE VISIÓN */

.vision {
	width: 100%;
	height: 50vh;
	background: green;
}

.container-vision {
	width: 70%;
	height: 90%;
	margin: auto;
	display: flex;
	align-items: center;
}

.text-vision {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	font-family: sans-serif;
	font-weight: bold;
	color: white;
}

/* EMPIEZA LA SECCIÓN DE NUESTRO EQUIPO */

.nuestro-equipo {
	width: 100%;
	height: 70vh;
	background: black;
	display: flex;
	flex-wrap: wrap;
}

.container-nuestro-equipo {
	width: 13%;
	height: 220px;
	background: white;
	margin: 4px;
}

.foto-circular {
	width: 115px;
	height: 115px;
	background: black;
	border-radius: 50%;
	margin: auto;
	margin-top: 14px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contenido-foto-1 {
	background-image: url('../imagenes/DIRECTOR.jpg');
}

.contenido-foto-2 {
	background-image: url('../imagenes/GUION.jpg');
}

.contenido-foto-3 {
	background-image: url('../imagenes/PROD-EJE.jpg');
}

.contenido-foto-4 {
	background-image: url('../imagenes/PROD-GEN.jpg');
}

.contenido-foto-5 {
	background-image: url('../imagenes/EDITOR.jpg');
}

.contenido-foto-6 {
	background-image: url('../imagenes/desarrollador.jpg');
}

.contenido-foto-7 {
	background-image: url('../imagenes/REAL-1.jpg');
}

.contenido-foto-8 {
	background-image: url('../imagenes/PROTAGONISTA.jpg');
}



.text-equipo {
	text-align: center;
	margin-top: 10px;
	font-family: sans-serif;
}